@import "../../../../base.scss";
.tabs-header {
  padding-top: 23px;
  background-color: $blue;
  align-items: flex-end;
  @media (max-width: 991px) {
    margin-right: -7.5px;
    margin-left: -7.5px;
    width: calc(100% + 7.5px);
  }
  .tabs-header-container {
    gap: 54px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 767px) {
      gap: 33px;
    }
  }
}
