@import "../../../base.scss";
.body {
  gap: 66px;
  align-items: flex-start !important;
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 23px;
  }
  .h-layout {
    width: 65%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  .b-layout {
    width: 35%;
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
